---
import Github from '../../icons/Github.astro'
import Linkedin from '../../icons/Linkedin.astro'
import Mail from '../../icons/Mail.astro'
import Phone from '../../icons/Phone.astro'
---

<section class='space-y-3 pb-5'>
    <div class='flex flex-wrap items-center justify-between gap-2'>
        <section>
            <h1
                class='text-xl font-bold text-black dark:text-white md:text-2xl'>
                CRISTOPHER ROMERO
            </h1>
            <span
                class='inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10'
                >INGENIERO DE SOFTWARE FULLSTACK
            </span>
        </section>
        <section>
            <ul
                class='grid grid-flow-col grid-rows-1 gap-x-2 gap-y-1 text-black dark:text-white sm:grid-rows-2'>
                <li>
                    <a href='#'>
                        <Github />
                    </a>
                </li>
                <li>
                    <a href='#'>
                        <Linkedin />
                    </a>
                </li>
                <li>
                    <a href='#'>
                        <Mail />
                    </a>
                </li>
                <li>
                    <a href='#'>
                        <Phone />
                    </a>
                </li>
            </ul>
        </section>
    </div>
    <article class='space-y-1 text-pretty pb-2 text-black dark:text-white'>
        <p>
            Ingeniero de Software Fullstack con <span
                class='font-semibold text-green-600'
                >más de 2 años de experiencia</span
            >
            trabajando en proyectos independientes y en la industria de la salud,
            utilizando <span class='fonts-semibold text-yellow-600'
                >JavaScript (React) y Python (Django)</span
            >.
        </p>
        <p>
            Disfruto enfrentando desafíos técnicos y encontrando soluciones
            creativas a problemas complejos.
        </p>
        <p>
            Mi historial incluye proyectos en los que he superado obstáculos
            significativos y entregado soluciones sólidas y eficientes.
        </p>
    </article>
    <hr class='border-b border-black' />
</section>
