---
import EducationSection from '../EducationSection.astro'
---

<section class='space-y-3 pb-5'>
    <h2 class='text-xl font-bold text-black dark:text-white md:text-2xl'>
        EDUCACIÓN
    </h2>
    <EducationSection
        place='Unheval, 2019'
        certificate='Grado de Ingeniería de Sistemas'
    />
    <EducationSection place='Icpna, 2023' certificate='Certificado de Inglés' />
    <EducationSection
        place='Microsoft, 2023'
        certificate='Certificado Desarrollador Github'
    />
</section>
