---
import ExperienceSection from '../ExperienceSection.astro'
---

<section class='space-y-3 pb-5'>
    <h2 class='text-xl font-bold text-black dark:text-white md:text-2xl'>
        EXPERIENCIA LABORAL
    </h2>
    <ol
        class='border-l border-black text-black dark:border-white dark:text-white'>
        <ExperienceSection
            date='Datakraft, Octubre 2023 - Presente'
            title='DESARROLLADOR DE SOFTWARE FULLSTACK'
            description='Diseñé la interfaz de validación de datos con un enfoque en la facilidad de uso para el usuario (Jquery, Bootstrap).Desarrollé procedimientos de validación de datos para garantizar precisión e integridad (Django, SQLServer).Optimicé los datos mostrados en una tabla, reduciendo la carga en un 45% (React, Typescript, Tailwind CSS).Desarrollé una integración de mensajería utilizando la API de Whatsapp Business con un ERP dental (Django Rest).'
        />
        <ExperienceSection
            date='Datakraft, Octubre 2023 - Presente'
            title='DESARROLLADOR DE SOFTWARE FULLSTACK'
            description='Diseñé la interfaz de validación de datos con un enfoque en la facilidad de uso para el usuario (Jquery, Bootstrap).Desarrollé procedimientos de validación de datos para garantizar precisión e integridad (Django, SQLServer).Optimicé los datos mostrados en una tabla, reduciendo la carga en un 45% (React, Typescript, Tailwind CSS).Desarrollé una integración de mensajería utilizando la API de Whatsapp Business con un ERP dental (Django Rest).'
        />
        <ExperienceSection
            date='Datakraft, Octubre 2023 - Presente'
            title='DESARROLLADOR DE SOFTWARE FULLSTACK'
            description='Diseñé la interfaz de validación de datos con un enfoque en la facilidad de uso para el usuario (Jquery, Bootstrap).Desarrollé procedimientos de validación de datos para garantizar precisión e integridad (Django, SQLServer).Optimicé los datos mostrados en una tabla, reduciendo la carga en un 45% (React, Typescript, Tailwind CSS).Desarrollé una integración de mensajería utilizando la API de Whatsapp Business con un ERP dental (Django Rest).'
        />
        <ExperienceSection
            date='Datakraft, Octubre 2023 - Presente'
            title='DESARROLLADOR DE SOFTWARE FULLSTACK'
            description='Diseñé la interfaz de validación de datos con un enfoque en la facilidad de uso para el usuario (Jquery, Bootstrap).Desarrollé procedimientos de validación de datos para garantizar precisión e integridad (Django, SQLServer).Optimicé los datos mostrados en una tabla, reduciendo la carga en un 45% (React, Typescript, Tailwind CSS).Desarrollé una integración de mensajería utilizando la API de Whatsapp Business con un ERP dental (Django Rest).'
        />
    </ol>
    <hr class='border-b border-black' />
</section>
