---
import Layout from '../layouts/Layout.astro'
import '@fontsource-variable/nunito-sans'
---

<Layout title='home'>
    <main>
        <h1 class='text-white'>Minimal Portfolio Web</h1>
    </main>
</Layout>
