---
import BtnTheme from '../components/BtnTheme'
import Layout from '../layouts/Layout.astro'
import '@fontsource-variable/nunito-sans'
---

<Layout title='home'>
    <main>
        <h1 class='text-black dark:text-white'>Minimal Portfolio Web</h1>
        <BtnTheme client:only='preact' />
    </main>
</Layout>
