---
import { ViewTransitions } from 'astro:transitions'
interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang='es'>
    <head>
        <meta charset='UTF-8' />
        <meta name='description' content={description} />
        <meta name='viewport' content='width=device-width' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='generator' content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body
        class='m-auto min-h-screen max-w-[1000px] bg-white px-5 dark:bg-black sm:px-10'>
        <slot />
        <style is:global>
            :root {
                color-scheme: light dark;
            }
            @media print {
                @page {
                    margin: 0;
                }
                header {
                    display: none !important;
                }
            }
        </style>
    </body>
</html>
